{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]]
 :builds
 {:remotion
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:entries [my-video.core]
                    :init-fn my-video.core/init}}}}}

